body{
    line-height: 27px
}

div[role=main] h2{
    border-bottom: 3px solid #1995dc;
    padding-bottom: 5px;
}

div[role=complementary] ul.nav>li:not(.main){
    margin-left: 20px
}

.bs-sidebar.well{
    max-height: 80%
}

.red {
  color: red;
}